filebeat:
  prospectors:
    -
      paths:
        - "/var/log/*.log"
      type: log

      #fields:
      #  level: debug
      #  review: 1

      encoding: utf-8

output:
  logstash:
    enabled: true
    hosts:
      - logstash.ipa.beenverified.com:5044
    loadbalance: true
