filebeat:
  prospectors:
    -
      paths:
        - "/var/log/*.log"
        - "/var/log/*/*log"
        - /var/log/messages
      type: syslog

      #fields:
      #  level: debug
      #  review: 1

      # encoding: utf-8

output:
  logstash:
    enabled: true
    hosts:
      - {{logstash1}}:5044
      - {{logstash2}}:5044
      - {{logstash3}}:5044
      - {{logstash4}}:5044
    loadbalance: true
